body {
    font-family: Arial;
    margin: 60px;
}

.history-item {
    margin-bottom: 12.5px;
}

h1, h2, h3 {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

.letter-box {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 10px;
    color: white;
    margin-right: 5px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.5rem;
}

.green {
    background-color: green;
}

.yellow {
    background-color: gold;
}

.red {
    background-color: red;
}
