<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WordleForm</title>
    <link rel="stylesheet" href="../../static/styles.css">
    <style>
      #loading {
        display: none;
      }
      #warning {
        display: none;
      }
    </style>
</head>
<body>
  <h1>Wordle Solver</h1>

  <h2>Typing non-english official words will result in you not being able to submit a guess.</h2>

  <h3>*Leaving this blank will also result in an auto guess from the server.*</h3>

  <form method="POST">
    {{ forms.WordleSolverForm }}
    {% csrf_token %}
    <label for="guess"></label><input class="input-1" type="text" name="guess" id="guess" minlength='5' maxlength='5' placeholder="Enter 5 letter word.">
    <button class="button-1" role="button" type="submit" id="button-1">Guess</button>
  </form>
  <h3 id="warning">Please enter a real 5-letter word.</h3>
  <div id="loading">
    <h3>Please Wait...</h3>
    <img src="../../static/loader.gif" alt="Loading...">
  </div>
  <script>
    function loadGuess(event) {
        event.preventDefault();

        document.getElementById("button-1").style.display = "none";
        document.getElementById("guess").style.display = "none";
        document.getElementById("warning").style.display = "none";
        document.getElementById("loading").style.display = "block";
        event.target.closest("form").submit();
    }

    function isEnglishLetter(char) {
        return /^[A-Za-z]$/.test(char);
    }

    async function isValidEnglishWord(word) {
        const response = await fetch(`https://api.dictionaryapi.dev/api/v2/entries/en/${word.toLowerCase()}`);
        return response.ok;
    }

    function checkCharacters(guess) {
        let valid = 0;
        for (const letter of guess) {
            if (isEnglishLetter(letter)) {
                valid += 1;
            }
        }
        return valid === 5;
    }

    document.getElementById("button-1").onclick = function(event) {
        loadGuess(event);
    };

    document.getElementById("guess").addEventListener("input", async function(event) {
        const guess = event.target.value;
        if (guess.length === 5) {
            if (checkCharacters(guess)) {
                const isValidWord = await isValidEnglishWord(guess);
                document.getElementById("button-1").disabled = !isValidWord;
                document.getElementById("warning").style.display = "none";
            } else {
                document.getElementById("button-1").disabled = true;
            }
        } else if (guess.length === 0) {
            document.getElementById("button-1").disabled = false;
            document.getElementById("warning").style.display = none;
        } else {
            document.getElementById("button-1").disabled = true;
            document.getElementById("warning").style.display = "block";
        }
    });

  </script>
</body>
</html>